
/******************************* STYLESS********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    width: 100%;
    height: 900px;
    background:#A6ACAF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ebe9e775, hsla(350, 48%, 85%, 0.664)), url(../img/port.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 63%, 85%, 0.459), hsla(0, 58%, 80%, 0.664)), url(../img/port.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #0a062e;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}

/**header hora**/
.header{
	color: rgb(26, 7, 80);
	background:#F2F2F2;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
    font-family: 'GothamBook';
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
    width: 100%;
    height: 60px;
    position: relative;
}

.optionsBar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: right;
    align-items: right;
    display: block;
		font-weight: 300;
		font-size: 0.8em;
        position: relative;
}
.optionsBar h2 {
    color: rgb(15, 3, 48);
    font-size: 10px;
    font-family: 'GothamBook';
    text-transform: uppercase;
    float: left;
    width: 53%;
    text-align: left;

}

.header nav{
    padding: 30px 50px 0 0; 
    height: 80px;
}


.header h1{
    font-size: 30px;
    color:#0B0B3B;
}

.header h2{
    font-size: 15px;
    font-weight: 300;
    color:#9696a1;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
    float: right;
}
 nav ul{
    list-style: none;
}
 nav ul li{
    float: right;
}
nav a{
    color:#FFF;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    background-color:#414141;
    border-radius: 10px;
    padding: 10px 20px;

}

 nav a:hover{
    background-color:#dd9595;
}

nav .tird:hover{
    background-color:#dfb237;
    width: 200px;
}

nav ul li ul{
    display: none;
}
nav ul li ul li{
    font: none;
    width: 100px;
    margin-top: 20px;  
 
}
nav .first:hover .content1{
    display: block;
}
nav ul li ul li ul{
    
    left: 100px;
    top: 0px;
    display: none;
    z-index: 1;
}
nav ul li ul li ul li{
    float: none;
}
nav .second:hover .content2{
     display: block;
     
 }

/*************************categorias*****************************/

/*******************form busqueda**************************/
form{
    margin-top: auto;
}
.form-busqueda{
    height: 100px;
    width: 600px;
    background-color: #A6ACAF;
    margin-top: auto 0;
}
.form-busqueda input{
    text-align: center;
    font-size: 16px;
    width: 300px;
    height: 30px;
    
}
.form-busqueda button{
    font-size: 16px;
    margin-bottom: auto;
    margin-top: 0px;
    float: center;
}
/******************empleos*********************************/
.empleos{
    float: left; 
    padding: 20px; 
    width: 300px; 
    border: 3px solid #333;
    background-color: beige;
    padding-left: 20px;
}
.empleos .btn_posts{
    background-color: brown;
}


/***************formulario********************/
label {
    display:block;
    margin-top:25px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
     background-color:#F2F2F2;;
    font-family:Arial;
}
 
form {
    margin-top:25px;
    margin:0 auto;
    width:450px;
}
 
input{
    width:200px;
    height:20px;
    background-color:#F2F2F2;
    border:2px solid #f6f6f6;
    padding:10px;
    font-size:15px;
    color:#050438;
    margin-top: 25px;
}
 
textarea {
    height:200px;
    width:250px;
    background-color:#F2F2F2;
    border:2px solid #f6f6f6;
    padding:10px;
    font-size:15px;
    color:#050438;
    margin-top: 25px;
}

form .btn_enviar{
    display: block;
    /**background-color:#414141;**/
    background-color: #8B0000;
	padding: 10px 45px 10px 45px;
	border: 0;
	font-size: 1em; 
	color: 	white;
    margin :0 auto;
    font-family: "Roboto", sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 10px;
     margin-top: 20px;
}
 
form .h1{
    background-color: beige;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

.formulario{
    background-color:#F78181;
    width: 400px;
    height: 670px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;


}
.controls {
    width: 100%;
    height: 40px;
    background: #F6CECE;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #e20f4f;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(14, 13, 13);
  }
 
  .formulario .deta{
      height: 60px;
      width: 100%;
    background: #F6CECE;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #e20f4f;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(14, 13, 13);
  }
  .formulario .botons {
    width: 100%;
    background: #424242;
    border: none;
    padding: 12px;
    color:#f2f2f2;
    margin: 16px 0;
    font-size: 20px;
    border-radius: 10px;
  }

/**fin**/
nav .textos-header{
    display: flex;
    height: 700px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'GothamBook';
}


.textos-header h1{
    font-size: 35px;
    color:#06062b;
}

.textos-header h2{
    font-size: 25px;
    font-weight: 300;
    color:#06062b;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */
main {
    
    align-items: right;
}
main .contenedor .contenedor-sobre-nosotros{
    width: 800px;
    margin:auto;
}

main .sobre-nosotros{
    padding: 30px 0 60px 0;
    font-family: 'open sans';
       width: 900px;
        height: 790px;
    background-color: #F2F2F2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ebe9e775, hsla(350, 48%, 85%, 0.664)), url(../img/port.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 63%, 85%, 0.459), hsla(0, 58%, 80%, 0.664)), url(../img/port.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 100%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}






/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #d15c3f;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    
    

    

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }
    

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

 
    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}